html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.dv-base {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.dv-layout {
    width: 40%;
}

.dv-layout form {
    margin-top: 20px
}

.dv-img {
    text-align: center;
}

.dv-img img {
    width: 40%;
}